@import url('https://fonts.googleapis.com/css?family=Poppins');

:root{
    --gradient: linear-gradient(45deg, #ff6b6b, #f8e71c);
    --background-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --border-color: #333;
}

*{
    background-color: #FFFFFF;
    width: auto;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Poppins;    
}

h1 {
    font-size: 3rem;
    color: #333366;
    margin: 10px;
    padding: 10px;
}

h2 {
    font-size: 2rem;
    color: #333366;
    margin: 10px;
    padding: 10px;
}

h3{
    font-size: 1.5rem;
    color: #333366;
    padding: 10px;
    margin: 10px 10px 0 10px;
    display: flex;
    text-align: center;
}

h4{
    font-size: 1rem;
    color: #333366;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
}

p{
    padding: 10px;
    margin: 10px;
}

.gradient-name , .contact-info a{
    background: var(--gradient);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}

/* nav bar for all the pages */


.container{
    width: 100%;
}

.content{
    font-size: 1.2rem;
    line-height: 1.5;
}

.logo{
    align-items: flex-start;
    max-width: fit-content;
    width: 4rem;
}

.desktop-logo-nav, .logo-desk{
    display: none;
}

.profile-photo{
    display: flex;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    border: solid black;
}


nav {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .logo-nav{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        
    }

    .top-header{
        display: flex;
        justify-content: space-between;
   }

    .hamburger{
        font-size: 2rem;
        color: black;
        right: 2rem;
    }

    nav a{
        color: black;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 10px;
    }

    .home-page{
        display: flex;
        align-items: flex-end;
    }

    /* about sidan */

    .experience-work, .experience-education{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #e0e0e0;
        padding: 1.5rem 0;
        width: 100%;
    }

    .all-jobb-experience{
        color: #2c3e50;
        margin-bottom: 1.5rem;
    }


    .job-info, .education-info{
        flex: 1;
    }

    .top-info{
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    ul{
        padding: 0 10px 10px 10px;
        margin: 0 10px 10px 10px; 
        list-style-type: none;
        width: 100%;
        display: none;
    }

    .job-meta, .education-meta{
        text-align: right;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        padding: 10px;
        margin: 10px;
    }
    .full{
        background-color: #28a745;
        color: #76f093;
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 100%;
        white-space: nowrap;
        border-radius: 50px;
        font-size: 0.9rem;
        padding: 10px;
    }
    
    .inter{
        background-color: #17a2b8; 
        color: #81deed;
        border-radius: 50px;
        font-size: 0.9rem;
        padding: 10px;
    }

    .date {
        font-size: 0.9rem;
        color: #666;
        margin-top: 0.5rem;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
    }
    
    section{
        padding: 100px 20px;
        min-height: 100vh;
    }

    .about{
        box-sizing: border-box;
    }

    .job-symbols{
        display: flex;
        flex-direction: row;
    }
/* tech stack */

    .tools{
        margin: 0;
        padding: 0;
    }

    .all-the-logo{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px; 
        padding: 20px;
        align-items: center;
        align-self: center;

    }
    

    /* project sidan */

    
    .all-the-projects {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: space-between;
        gap: 2rem; 
    }
    
    .project{
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }
    
    .all-the-projects img {
        width: 100%;
        border-radius: 12px 12px 0 0;
    } 
    
    .text-info {
        padding: 1.5rem;
    }
    
    .buttons {
        margin-top: 1rem;
    }
    
    .btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        color: black;
        text-decoration: underline;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    section.contact{
        text-align: center;
    } 

    .contact-h1{
        font-size: 3rem;
        color: black;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }

    .contact-info a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        /* color: black; */
        text-align: center;
        width: 100%;
    }


/* Desktop layout */
@media (min-width: 1080px) {
    body {
        font-size: 20px;
    }

    .container {
        width: auto;
        padding: 30px;
    }

    .hamburger{
        display: none;
    }

    nav {
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        top: 20px;
        right: 0;
    }

    nav a {
        padding: 15px;
        justify-content: flex-end;
        margin-left: 20px;
        padding: 10px 0;
        display: inline-block;
    }

    .nav-bar{
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

    ul{
        padding: 0 0 0 10px;
        margin: 0 0 0 10px; 
        display: grid;
    }

    .logo-nav{
        display: none;
    }

    .logo-desk{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 4rem;
        margin-right: auto;
    }

    .desktop-logo-nav{
        display: flex;
    }

    .top-header, .logo{
        display: none;
    }

    .all-the-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        width: auto;
        
    }
    
    .project{
        width: 30%;
        max-width: 30%;
        height: 40%;

    }
} 

footer{
    text-align: center;
}

.footer{
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


@media (prefers-color-scheme: dark) {


    * {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  
    h1,
    h2,
    h3,
    h4 {
      color: var(--text-color);
    }
  
    p,
    nav a,
    .btn,
    .footer {
      color: var(--text-color);
    }
  
    .logo {
            background: var(--gradient);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
    }
      .gradient-name {
        background: var(--gradient);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
  
      nav {
        background-color: var(--background-color);
      }
  
      .hamburger {
        color: var(--text-color);
      }
  
      .profile-photo {
        border-color: var(--border-color);
      }
  
      .all-jobb-experience,
      .projects {
        background-color: var(--background-color);
        color: var(--text-color);
        border-bottom-color: var(--border-color);
      }
  
      .project1,
      .project2,
      .project3,
      .project4,
      .project5,
      .project6 {
        background-color: #1e1e1e;
        color: var(--text-color);
      }
  
      .btn {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
      }
      .contact, .contact-h1 {
        color: var(--text-color);
      }
  
      footer {
        background-color: var(--background-color);
        color: var(--text-color);
      }
    }
